#root {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  text-align: center;
}

.card {
  padding: 2em;
}

.error-text {
  color: #ef5350;
}

.success-text {
  color: #4caf50;
}

.warning-text {
  color: #ff5f15
}

.warning-disclaimer-container {
  padding-right: 5px;
}

.warning-disclaimer-container>ul {
  text-align: left;
}

.title {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

.demo-video {
  width: 80%;
}

.top-description {
  font-size: small;
  font-weight: 560;
  margin-bottom: 8px;
  margin-top: 8px;
}