#root {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
}

.header>a {
  color: black;
  text-decoration: none;
  margin-top: 0;
  font-size: 20px;
  text-align: left;
  padding-left: 12px;
}

.header h3 {
  flex: 1;
  text-align: center;
  margin-left: 8px;
}


.card {
  padding: 2em;
}

.error-text {
  color: #ef5350;
}

.success-text {
  color: #4caf50;
}

.warning-text {
  color: #ff5f15
}

.warning-disclaimer-container {
  padding-right: 5px;
}

.warning-disclaimer-container>ul {
  text-align: left;
}

.title {
  margin-bottom: 0;
  line-height: 1.15;
}

h3 {
  margin-top: 0;
}

.demo-video {
  width: 80%;
}

.top-description {
  font-size: small;
  font-weight: 560;
  margin-bottom: 8px;
  margin-top: 8px;
}

.saved-decklists-heading {
  margin-top: 16px;
}

.saved-decklists {
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column-reverse;
}

.decklist-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.decklist-row-container {
  margin-top: 8px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.5px solid rgba(0, 0, 0, 0.4);
}

.decklist-row-container>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.decklist-name-timestamp-container {
  flex-grow: 1;
}

.decklist-row button {
  font-size: 1.1rem;
  padding: 0.25em 0.5em;
  margin-bottom: 3px;
}

.previous-decklist-rows-container {
  display: flex;
  flex-direction: column-reverse;
}

.previous-decklist-row-button {
  padding: 6px !important;
  padding-bottom: 1px !important;
}

.previous-decklists-container {
  width: 100%;
}

.previous-decklists-container>summary {
  text-align: left;
  margin-left: 25px;
}

.previous-decklists-container {
  font-size: 12px;
}

.decklist-row button {
  margin-left: 8px;
}

.decklist-timestamp {
  color: grey;
  font-size: small;
}

.sprite-selector {
  width: 40%;
}

.rs-picker {
  width: 65%;
}

.modal-header-row {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
}

.modal-header-row>div {
  display: flex;
  flex-direction: row;
}


.modal-header-row-button {
  margin-left: 8px;
  margin-top: 1px;
}

.modal-header-row-button:after {
  color: red;
  font-size: 50px;
  content: "\00d7";
  height: 30px;
  line-height: 45px;
}

hr {
  border: none;
  background-color: grey;
  height: 1px;
}

.start-scanning-button {
  font-size: 20px;
  width: 95%;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 56px;
}