:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #2196f3;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 1px 1px #888888;
}

button[disabled] {
  color: grey;
}

button:hover {
  /* border-color: #646cff; */
}

button:active,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.filter-blur {
  filter: url(#blur-and-scale);
}

.name-selector>div {
  border-radius: 16px;
  overflow: hidden;
}

.probability-modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  width: 84%;
  overflow-y: auto;
  border: 1px solid #888;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.probability-modal-mode-select-button {
  margin: 3px 6px 6px;
}

.probability-modal-mode-select-button.selected,
.probability-modal-mode-select-button.active {
  background-color: #64b5ff;
  color: white;
}

.card-preview-icon {
  height: 24px;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
  margin: 0 4px;
}

.probability-section {
  text-align: center;
  width: 100%;
}

.probability-card-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.125rem;
  margin: 8px 0 4px 0;
  font-weight: 550;
}

.probability-card-name-count {
  font-weight: 750;
}

.probability-modal-content .modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.probability-row {
  display: grid;
  grid-template-columns: calc(50vw - 20px) auto;
  /* left column ends near center of viewport */
  column-gap: 8px;
  align-items: baseline;
}

.probability-label {
  justify-self: end;
  text-align: right;
  color: #333;
  padding-right: 6px;
  font-size: 1rem;
  font-weight: 400;
}

.probability-label i {
  font-family: serif;
  font-size: 1.05rem;
}

.probability-value {
  text-align: left;
  min-width: 64px;
  font-size: 1rem;
  font-weight: 600;
}